body {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 16px;
  caret-color: transparent;
  background:  #e8f8f5;
}

main {
  display: flex;
  justify-content: center;
  min-height: 65vh;
  
}

section {
  text-align: center;
  padding:100px;
  height: 150px;
  background:teal;
  border:2px solid #fff;
  border-radius: 20px;

}
#section1 {
  text-align: center;
  padding:5px;
height: 500px;
  background:#e8f8f5;
  border:2px solid teal;
  border-radius: 20px;

}
#field{
  background:  #e8f8f5 ;
border: #e8f8f5;

}

.hidden {
  display: none;
}

#title{
  color:#f7039e;
  
}
label{
  color: #e8f8f5;
 
}
#field {
  padding: 30px;
  min-width: 20vh;

}

#container {
  margin: auto;
  display: flex;
  flex-direction: column;
 
}
.row {
  display: flex;
  flex-direction: row;
 
}
.cell {
  font-family: "Finger Paint", sans-serif;
  color: #232d55;
  box-shadow: 0 0 0 1px #6e92a3;
  border: 1px solid #6e92a3;
  cursor: pointer;
  line-height: 1em;
  background:teal;

}


#status  {flex: 4;}

button{
  box-sizing: border-box;
  background:teal;
  border-radius: 4px;
  padding: 10px 0;
  margin: 0 0 10px 0;
  border: none;
}
button:hover {
  background-color: #8458B3;
}

#titleTurns {
  font-size: .8em;
}
#numberTurns {
  font-size: 1.4em;
  margin: 0;
}

.container1{
  background-color: teal;
  min-height: 80vh;
  border:2px solid #fff;
  border-radius: 20px;
}

/*confetti */
.board.locked {
  pointer-events: none;
}

.cell.disabled img {
  opacity: 0.4;
}

.confetti {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.confetti.active {
  display: flex;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-40deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 182ms;
  animation-duration: 1116ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 161ms;
  animation-duration: 1076ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 481ms;
  animation-duration: 1103ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 334ms;
  animation-duration: 708ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 302ms;
  animation-duration: 776ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 180ms;
  animation-duration: 1168ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 395ms;
  animation-duration: 1200ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 14ms;
  animation-duration: 887ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 149ms;
  animation-duration: 805ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 351ms;
  animation-duration: 1059ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 307ms;
  animation-duration: 1132ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 464ms;
  animation-duration: 776ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation: makeItRain 1000ms infinite ease-out;
  animation-delay: 429ms;
  animation-duration: 818ms;
}

.confetti-piece:nth-child(odd) {
  background: #7431e8;
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 2500ms;
  animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
  background: rgb(252, 3, 111);
}

.animate-wiggle {
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
  }
}

