*{
	margin: 0;
	padding: 0;	
}
.body{
	background-color: white;
	font-family: 'kufam', sans-serif;
}

#sidebar{
	position: fixed;
	width: 30%;
	height: 100%;
	left: -30%;
	background-color: yellow;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;	
}
#sidebar li{
	color:black;
	font-size: 30px;
	padding: 30px;
	border-bottom: 1px solid gray;
	text-align: right;
}
.toggle-btn{
	position: absolute;
	left: 105%;
	top: 15px;
}
.toggle-btn span{
	display: block;
	background-color: orangered ;
	width: 30px;
	height: 5px;
	margin: 3px;
}

#sidebar.active{
	left: 0;
}
.about{
	float: right;	

}

#sidebar ul li:hover,
#sidebar ul li.active{
	color: orangered;
	background: white;
	border-right: 20 solid orangered;
	text-decoration: none;
}

#sidebar ul li a:hover,
#sidebar ul li a.active{
	color: orangered;
	background: white;
	border-right: 20 solid orangered;
	text-decoration: none;
}
#sidebar ul li a:hover:before,
#sidebar ul li a.active:before{
	display: block;
	text-decoration: none;
}
a{ 
text-decoration: none;
color: black;
}

/*work*/
h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
	.content{
	margin-left: 100px;
	margin-right:100px ;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: white;
}

.content:hover{
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}
img{
	width: 100%;
	height:auto;
	text-align: center;
	margin: 0 auto;
	display: block;
	border-top-right-radius: 10px ;
	border-top-left-radius: 10px ;
}
p{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px ;
	margin-right: 5px ;
	text-align: center;
	color: grey;
	padding-top: 0 8px;
}
/*start of ingridients */
.labelexpand>input{
display: none;

}
.labelexpand input:checked + .checking{
	background-color:green ;
	color: white;
}
.checking{
	width: 80px;
	height: auto;
	border-radius: 100%;
}
.ingredients{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.ing1{
	width: 80px;
	height: auto;
}
.ing2{
	width: 67spx;
}
.ing3{
	width: 60px;
}
.ing4{
	width: 80px;
}
.ing5{
	width: 67px;
}
.ing6{
	width: 70px;
}
.ing7{
	width: 90px;
}
.ing8{
	width: 82px;
}
.ing9{
	width: 65px;
}
.ing10{
	width: 65px;
}
.ing12{
	width: 80px;
}
#texta{
	font-family: kufam, sans-serif;
	size
}
/*end of ing part*/
h6{
	font-size: 26px;
	text-align: center;
	color: black;
	margin: 5px;
}
.star{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;

}


.star .fa{
	font-size: 15px;
	transition: .4s;
	margin: 3px;
}

.star .fa:hover{
	transform: scale(1.3);
	transition: .6s;
}
.checked{
	color: #ff9f43;
}


button{
	text-align: center;
	font-family: 'kufam', sans-serif;
	font-size: 24px;
	color: white;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.order1{
	background: green;
}
/*footer*/

.ftr{
    position: relative;
    bottom: 0;
    background-color: yellow;
    width: 100%;

}
.ftr1 ul {
margin-left: 50%;
}
.front{
    text-align: right ;
     text-align-last: center;
}